<div class="container mt-5" {{ attributes }} data-poll="delay(5000)|refresh">
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" data-action="live#action" data-action-name="refresh">Rafraîchir</button>
        </div>
    </div>
    <div class="row">
        {% for beer in beers %}
            <div class="col-3 my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ beer.brand }}</h5>
                        <p class="card-text">{{ beer.name }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>